*{
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav {
    margin-left: 1000px;
}

ul li{
    margin-left: 50px;
}

.nav-link{
    color: #99D5C9;
}

.nav-link:hover{
    font-weight: bold;
    color: #63D471;
}

.d-flex{
    margin-left: 650px;
}

.btn:hover{
    background-color: #56203D;
    border: 1px solid #56203D;
}

.main{
    background: url("Audi.jpg");
    height: 1000px; 
    background-size: cover;
}

.container h1{
    color:#A4303f;
    height: auto;
    margin: auto;
    padding-top: 70px;
    position: relative;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.container span{
    color: #FF8427;
}

.container button{
    background-color: #FF8427;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    font-weight: bold;
    font-family: Arial;
    border-color: #FF8427;
    font-size: 20px;
}

.container .des:hover{
    background: mediumseagreen;
    border-color: mediumseagreen;
}
.form{
    width: 300px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 100px;
    left: 1200px;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 500px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7201;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff; 
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;

}

.btnn{
    width: 240px;
    height: 40;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;
    color: white;
    transition: 0.4 ease;
}

.btnn:hover{
    background: white;
    color: #EDFFD9;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: aqua;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

